<script>
    
   async function AddArrayItem(elem) {
       const container = $(elem).closest("ul");
       const curElemsCount = $(container).children(".collection-item").length;
       const template = $(container).find("template")[0];
       const clone = template.content.cloneNode(true);
       clone.children[0].innerHTML = clone.children[0].innerHTML.replaceAll("$template", curElemsCount.toString());
       container[0].appendChild(clone);
       InitFormInputs();
   }
   
   function DeleteArrayItem(elem) {
       const ul = $(elem).closest("ul")[0];
       const li = $(elem).closest("li")[0];
       li.remove();
       UpdateArrayElemIndexes(ul);
   }
   
   
   function UpdateArrayElemIndexes(ul)
   {
       const elems = $(ul).children(".collection-item");
       let curElemIndex = 0;
       elems.each(index => {
           const elem = elems[index];
           $(elem).find("[data-key]").first().attr("data-key", curElemIndex);
           $(elem).find(".title-marker").first().html(curElemIndex);
           curElemIndex++;
       });
       InitFormInputs();
   }
   
</script>