<script>
    
   async function AddArrayItem(elem) {
       const container = $(elem).closest("ul")
       const curElemsCount = $(container).children(".collection-item").length
       const template = $(container).find("template")[0];
       const clone = template.content.cloneNode(true);
       clone.children[0].innerHTML = clone.children[0].innerHTML.replaceAll("$template", curElemsCount.toString());
       container[0].appendChild(clone)
       
       InitFormInputs();
   }
   
   async function DeleteArrayItem(elem) {
       // TODO implement
   }
   
</script>