.delete-button{
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.element-index {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}